@import "../../../styles/theme";

.resource {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-4;

    padding-top: $spacing-2;
  }
}
