@import "../../../styles/theme";

.stat-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  font-size: $font-xs;

  .stat-bar-label {
    width: 1.5rem;
    font-weight: $font-bold;
    color: $color-primary-dark;
  }

  .stat-bar-track {
    flex: 1;
    height: $spacing-2;
    margin: 0 $spacing-2;
    background-color: $color-grey-1;
    border: 1px solid $color-primary-dark;
    border-radius: 2px;
    overflow: hidden;
  }

  .stat-bar-fill {
    height: 100%;
    border-radius: 1px;
    transition: width $a-short ease-in-out;
  }

  .stat-bar-value {
    width: 2.25rem;
    text-align: right;
    color: $color-primary-grey;
  }

  &.stat-bar-hp .stat-bar-fill {
    background-color: $color-stat-hp;
  }

  &.stat-bar-mp .stat-bar-fill {
    background-color: $color-secondary-blue;
  }
}
