@import "../../../styles/theme";

%input {
  padding: $spacing-2;
  margin-bottom: $spacing-4;

  width: 100%;

  border-color: $color-primary-dark-3;
  border-radius: $spacing-1;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;

  &__form {
    display: flex;
    flex-direction: column;

    width: 100%;

    textarea {
      @extend %input;
    }

    input[type="submit"] {
      @extend %input;

      align-self: flex-start;

      width: $spacing-32;
      height: $spacing-12;

      color: white;
      background-color: $color-secondary-blue;
      border: none;

      &.disabled {
        background-color: $color-primary-grey;
      }
    }
  }

  &__error,
  &__success {
    margin-top: $spacing-4;
    padding: $spacing-2 $spacing-3;

    color: white;

    border: 1px solid black;
    box-shadow: 2px 2px grey;
  }

  &__error {
    background-color: red;
  }

  &__success {
    background-color: $color-stat-hp;
  }
}
