@import "../../../styles/theme";

h1 {
  padding: $spacing-1;

  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-4 0;

  width: 100%;
}

.menu-options {
  display: flex;
  flex-direction: column;

  width: 50%;

  > a {
    margin-left: $spacing-4;
  }
}
